<p class = "intro">Very rough stats about content, for content designers.</p>

<p>Canaries can die from natural causes: don't ever use these numbers on their own to make decisions.</p>

<p>NB: this currently only works for slugs beginning '/guidance'. If you know why, why not <a href="https://github.com/benjaminmortimer/canary">open a pull request</a>?</p>

<form method="post" action="/info">
	<p><label>Enter a slug: <input type="text" name="slug" pattern = "/guidance.*"></p>
	<button type="submit">Continue</button>
</form>
