<h2>Some stats</h2>

<p>Lorem ipsum dolor sit amet</p>

<p>What stats do you want?</p>

<form method="post" action="/info">
	<p><label>Some text: <input type="text" name="slug"></p>
	<button type="submit">Continue</button>
</form>

<p>Here are your stats:</p>

<p>Total number of tags: <%= stats["total_tags_count"]%></p>
<p>Number of h2's: <%= stats["h2_count"]%></p>
<p>Number of p's: <%= stats["p_count"]%></p>
<p>Number of links: <%= stats["a_count"]%></p>

