<!DOCTYPE html>
<html>

<head>
<title>Canary - rough stats about content</title>
<link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>

<body>

<h1>Content canary</h1>

<%= yield %>

</body>

</html>